<a href="https://colab.research.google.com/github/kiborhubert/cancer_screening/blob/main/precipitation_model_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lib Imports

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pickle
import warnings
warnings.filterwarnings('ignore')

Data Import

In [ ]:
# Load dataset into a pandas dataframe objecte named 'weatherdata'
# complete code below
data = pd.read_csv("/content/weatherdata.csv")

In [ ]:
# remove rows with missing values e.g. NaN values as our algorithms only work with numbers
data.dropna(axis=0)
data

,Date,Longitude,Latitude,Elevation,Max Temperature,Min Temperature,Precipitation,Wind,Relative Humidity,Solar
1/1/1979,35,1.0928,1799,21.886,6.885,0.069523,2.199968,0.578949,18.429755,NaN
1/2/1979,35,1.0928,1799,21.723,8.990,0.000000,2.286794,0.595363,17.852057,NaN
1/3/1979,35,1.0928,1799,22.850,8.547,0.000000,2.831001,0.550420,25.196680,NaN
1/4/1979,35,1.0928,1799,23.016,8.093,0.000000,2.989940,0.555624,24.853055,NaN
1/5/1979,35,1.0928,1799,23.341,8.145,0.000000,2.988336,0.593102,27.799940,NaN
...,...,...,...,...,...,...,...,...,...,...
7/27/2014,35,1.0928,1799,24.031,11.336,0.688362,0.893759,0.820791,13.111841,NaN
7/28/2014,35,1.0928,1799,23.166,8.951,0.006866,1.115741,0.790885,14.670299,NaN
7/29/2014,35,1.0928,1799,24.016,8.532,0.127029,0.987643,0.768541,17.040896,NaN
7/30/2014,35,1.0928,1799,23.519,8.014,0.003433,1.118634,0.762398,16.690118,NaN
7/31/2014,35,1.0928,1799,24.625,8.261,1.002502,1.088613,0.772691,16.576026,NaN

In [ ]:
# Choose target features, complete the line below
target_feature = data.Precipitation
# Choose input features, complete the lines below
features = ['Longitude', 'Latitude', 'Elevation',	'Max Temperature','Min Temperature','Wind','Relative Humidity']
input_features = data[features]

Model Training i.e. use the cells below to create and train a Random Forest Regresor Model

In [ ]:
train_x,X,train_y,Y = train_test_split(input_features,target_feature,random_state=0)
regFunc = RandomForestRegressor(random_state=1)
regFunc.fit(train_x,train_y)

RandomForestRegressor(random_state=1)

Make Predctions fro the two houses below using your model created above.

In [ ]:
crop_one = [1.5, 1400, 25, 6.8, 0.0, 0.5, 30]
crop_two = [2,1700, 30, 11, 1.89, 1, 2]

In [ ]:
# print predicited precipitation for first region
print('PRECIPITATION PREDICTION FOR FIRST REGION IS',regFunc.predict([crop_one]))

PRECIPITATION PREDICTION FOR FIRST REGION IS [2.70918482]

In [ ]:
# print predicited precipitation for second region
print('PRECIPITATION PREDICTION FOR SECOND REGION IS',regFunc.predict([crop_two]))

PRECIPITATION PREDICTION FOR SECOND REGION IS [1.68426071]

Save Your Model

In [13]:
# Saving model to disk,
pickle.dump(regFunc,open('PRECIP_MODEL.pkl','wb'))

# New Section

The End